
$light-grey:#E6E5E5;
$light-grey-two:#E4E4EB;
$light-grey-three:#F6F7FB;
$subtle-white : #F9F7F7;
$subtle-white-two: #EFF1F7;
$white :#ffffff;
$black : #000000;
$black-two:#0E0E0E;
$light-black :#333333;
$red:#ED737C;
$light-peach:#E9BEB3;
$light-peach-two :#FEEDED;

$green:#7BC82F;
$yellow:#FFD328;